/* CSS Document */
body{
	font-family: "pragmatica-web-condensed", Arial, Helvetica, sans-serif;
	font-style:normal;
	font-size:100%;
	line-height:1.6;

	background:none !important;
  background-image   : url(/media/store-media/connections.store.wsu.edu/skin/background-strip.png),
                       url(/media/store-media/connections.store.wsu.edu/skin/background.jpg) !important;

  background-repeat  : no-repeat,
                       repeat-x !important;

  background-position: 100% top,
                       center top !important;
}

/*--Spine-Overrides--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
#spine.darkest .spine-actions button, #spine.darkest .spine-footer small a, #spine.darkest .spine-social-channels a {
    color: #e2e2e2;
}

.darker #wsu-signature, .darkest #wsu-signature {
    background-image: url(/media/store-media/connections.store.wsu.edu/skin/2015-Connections-shield.svg);
}
/*--Form-parts--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
main .button:not(.bare), main .spine-button:not(.bare), main button:not(.bare), main input[type=submit]:not(.bare), main input[type=reset]:not(.bare), main input[type=button]:not(.bare) {
	position: relative;
	/*background:#747f8b;*/
	border:none;
	color:#fff;
	height:30px;
	border-radius:0px;
	background:none;
	display:inline-block;
    /*margin-right: 80px;*/
	text-shadow:2px 2px 1px #393939;
	
}
main .button:not(.bare) span, main .spine-button:not(.bare) span, main button:not(.bare) span, main input[type=submit]:not(.bare) span, main input[type=reset]:not(.bare) span, main input[type=button]:not(.bare) span
{
	width:100%;
	height:100%;
	position: relative;
	line-height: 22px;
    z-index: 1;
    text-align: center;
    font-size: 15px;
	font-weight:bold;
	padding:0px;
}
main .button:not(.bare):before, main .spine-button:not(.bare):before, main button:not(.bare):before, main input[type=submit]:not(.bare):before, main input[type=reset]:not(.bare):before, main input[type=button]:not(.bare):before
{
    transform: skew(20deg);
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    background-color: #747f8b;
	
	border:2px solid #747f8b;
	position:absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
	width:100%;
    height: 30px;
	content:"";
}

main .button:not(.bare):hover:before, main .spine-button:not(.bare):hover:before, main button:not(.bare):hover:before, main input[type=submit]:not(.bare):hover:before, main input[type=reset]:not(.bare):hover:before, main input[type=button]:not(.bare):hover:before {background-color: #a5abb2;}

input.input-text, select, textarea{
	border: 1px solid #da1a32;
}


/*--messages--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
ul.messages li[class$=-msg]:before{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 20px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);	
	
	color:#39424b;
	z-index:1;
	
	float: left;
    margin-right: 7px;
    margin-top: -3px;

}
.error-msg{
    border-color: #da1a32;
    background-color: #da6674;
    color: #ffdfe3;
}
.error-msg:before{
	content: "\f06a";
}
.warn-msg,.notice-msg{
    border-color: #f47900;
    background-color: #fed697;
    color: #f48e2b;
}
.warn-msg:before,.notice-msg:before{
	content:"\f071";
}
.success-msg{
    border-color: #1d3c08;
    background-color: #8ebe71;
    color: #1e660d;
}
.success-msg:before{
	content: "\f05d";
}

/*--Content--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/


main{
	background-color:#fff;
	position: relative;
}
div#main {
    margin-bottom: 35px;
}
.content_area{ margin-top: 25px; }
.home main{
	background: url(/media/store-media/connections.store.wsu.edu/skin/home-main-background.jpg);
	background-color:#fff;
	background-repeat: no-repeat;
	background-position:center bottom;
    background-size: 100% auto;
	
}
section#siteID{
	/*background:none !important;*/
	background-image : url(/media/store-media/connections.store.wsu.edu/skin/header-bk.jpg);
	background-color:#38424a;
	background-repeat: no-repeat;
	background-position:left top;
    background-size: 100% auto;
	box-sizing:border-box;
	border:2px solid #da1a33;
	border-top:none;
    z-index: 100;
}
#spine #glue:before{
	background:transparent url(/media/store-media/connections.store.wsu.edu/skin/spine_background.png) repeat center top !important;
}
#siteID{
	height:104px;
}
#siteID article h2{
	display:none;
}
#siteID article h1{
	/*background:transparent url(/media/store-media/connections.store.wsu.edu/skin/connections-logo-no-marketplace.svg) no-repeat center top !important;
    width: 250px;
    height: 85px;
    position: absolute;
    top: 11px;
    z-index: 150;*/
	text-indent: -999em;
}

.home #siteID{
	/*height:104px;*/
}
.home #siteID article h2{
	display:none;
}
#siteID article h1{
	background:transparent url(/media/store-media/connections.store.wsu.edu/skin/2015-Connections-sig.svg) no-repeat center top !important;
	background-size:contain;
    width:415px;
    height:65px;
    position: absolute;
    top: 23px;
    z-index: 150;
}




.quick-access{
	background:none;
    position: absolute;
    width: 100%;
	z-index:100;
}
.quick-access .links{
	padding:0px;
}
.quick-access .links,
.quick-access .links li{
	display:inline-block;
	position: relative;
}
.quick-access .links
li{
	padding:0 0px 0 1px;
	padding-left:10px;
}
.quick-access .links li.first{
	padding-left:10px !important;
}
/*%--global--%*/
.quick-access{
	background:none;
    position: absolute;
    width: 100%;
    right: -4px;
    top: 70px;/*26px;*/
	z-index:100;
}
.quick-access:before{
    width: 10px;
    height: 0;
    border-top: 36px solid #da1a33;
    border-left: 100px solid transparent;
    position: absolute;
    top: 7px;
    right: 2px;
    z-index: 0;
    content: "";
}
/*.quick-access .links:first-of-type:after{
    transform: skew(20deg);
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    background-color: #eff0f1;
	position: absolute;
    top: 1px;
    right: 100%;
    z-index: 0;
    max-width: 260px;
    width: 100%;
    height: 35px;
    content: "";
	content:"";
}*/
.quick-access .links a{
	color:#ddd;
	background:none;
    /*position: relative;*/
	height:32px;
	color:#FFFFFF;
	/*display:inline-block;*/
	line-height: 37px;
}
.quick-access .links a{
	padding-left: 8px;
}
.quick-access .links a span{
	width:100%;
	height:100%;
	position: relative;
	top: calc( 50% - 8px );
    left: 0;
    z-index: 1;
	height:32px;
    text-align: center;
    font-size: 15px;
	padding:0px 5px;
}
.quick-access .links  li{
    margin-right: 4px;
}
.quick-access .links a span{
    padding-left: 22px;
}


.quick-access .links a:before{
    transform: skew(20deg);
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    background-color: #da1a33;
	
	border:2px solid #da1a33;
	position:absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    width: 100%;
    height: 32px;
	content:"";
}
.quick-access .links a:hover:before{
    background-color:#39424b;
}

.quick-access .links a{
	padding:0 7px 0 0;
	/*background:url(http://store.wsu.dev/skin/frontend/wsu_base/default/images/bkg_pipe1.gif) no-repeat 100% 50%*/
}
.quick-access .links li.last a{padding:0;background:none}
.quick-access .links a span:before{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 20px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);	
	
	color:#39424b;
	z-index:1;

}
.quick-access .links a span:before{
	margin-right: 7px;
	position: absolute;
	top: 0px;
	left: 0px;
}

/*%--icons--%*/
.quick-access .links a:hover span:before{
	color:#fff;
}
.quick-access .links a[href*="customer/account"] span:before{
	content: "\f085";
}
.quick-access .links a[href*="customer/account/create"] span:before{
	content: "\f090";
}
.quick-access .links a[href*="customer/account/logout"] span:before{
	content: "\f08b";
}
.quick-access .links a[href*="customer/account/login"] span:before{
	content: "\f090";
}
.quick-access .links a[href*="checkout"] span:before{
	content: "\f046";
}
.quick-access .links a[href*="checkout/cart"] span:before{
	content: "\f07a";
}
.quick-access .links a.with-items[href*="checkout/cart"] span:before{
	content: "\f217";
}
.quick-access .links a[href*="wishlist"] span:before{
	content: "\f005";
}
.quick-access .links a[href*="catalog/product_compare"] span:before{
	content: "\f24e";
}


.page-title{
	margin-top: 25px;
    padding: 0px;
    border-bottom: 1px solid #38424a;
}
.page-title h1{
	font-size:15px;
	color:#4a535a;
}





/*--FOOTER--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
main footer{
	padding:0px !important;
	position:absolute;
	bottom:0px;
	width:100%;
	height:36px;
	background:#d5151f;
	
}
#site-global-footer{
	background: url(/media/store-media/connections.store.wsu.edu/skin/footer-bk.jpg);
}
#site-global-footer ul{
	padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
#site-global-footer ul li{
  width: 20%;
  height: 36px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}
#site-global-footer ul li a{
	color:#fff;
    width: 100%;
    display: inline-block;
    height: 36px;
    line-height: 36px;
}
#site-global-footer ul li a:hover{
	background:url(/media/store-media/connections.store.wsu.edu/skin/spine_background.png) repeat center top !important;
}



/* mass product form */
	#mass_products{padding: 0;}
/* Product list blocks */
	.products-list,
	.products-list li{ list-style:none;}
	.products-list li.item {
	  border: 1px solid rgba(91,91,91,0.63);
	  border-radius: 9px;
	  background:rgba(241,241,241,0.90);
	  padding:15px 11px;
	  margin-bottom:15px;
	  position:relative;
	  margin-left:0px;
	}
	.products-list li.item.last {border: 1px solid rgba(91,91,91,0.63);}
	.products-list .product-image{ width:100%; height:auto; max-height:100%;}
	.products-list .product-shop{ margin:0px;}
	[name="goingToEvent"] {display: none !important;visibility: hidden;}
	.template{display:none;}
	.products-list h2.product-name {font-size: 1.75em;font-weight: bold;}
	.products-list h2.product-name a{ text-decoration:none; cursor:default;}
	
	.blockHeader {font-size: 1.5em;font-weight: bold;}
	.blockHeader i{font-style:normal;}
	.column.cart_action_area {text-align: right !important;}
	.regular-price .price {color: #396f00;font-size: 1.5em;font-weight: bold;}
	.products-list .price-box {float:none;}
	.mass_item.active_item{background-color:#e3dfcd !important;border-color:#ada400 !important}
	.product-image-wrapper img{ margin-top: 20px;}
	input.full { width:100%}
	
	/* Guest blocks */
	.attendence_block{display:none; clear:both}
	.attendence_block{border-top:0.1em solid #393215;padding: 1em 0;}
	.active_item .attendence_block{display:block;}
	
	.guest_block label {display: block;}
	
	/* buttons and links */
	.remove_guest {float: right;font-size: 0.55em;}
	.copy_guest {display:none !important;}
	.copy_guest.can_copy {display:inline-block !important;font-size: 0.75em;padding: 0.1em 0.5em !important;}
	
	.validation_overlay{
		display:none;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0,0,0,0.5);
		z-index: 10;}
	.validation_overlay.active{display:block;}
	.access_form {
	  background-color: #ffb81c;
	  border-radius: 5px;
	  left: 50%;
	  margin-left: -17.5%;
	  margin-top: -6.25%;
	  min-height: 55px;
	  padding: 0 15px;
	  position: absolute;
	  text-align: center;
	  top: 27%;
	  width: 30%;
	  z-index: 11;
	}

/*--CART--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.data-table thead, .data-table thead tr{
	background:#da1a32;
	color: #fff;
	height:31px;
	line-height:31px;
}
.data-table tbody{
	border-left:none;
	border-right:none;
}
.data-table tbody tr,.data-table tbody td{
	border-left:none;
	border-right:none;
	border-bottom:1px solid #790000;	
}
.data-table tbody tr.last,.data-table tbody tr.last td{
	border-bottom:none;	
}
.data-table tbody td{
	color:#4d565d !important;
	font-weight:bold;
}
.cart-table h2.product-name{
	color:#da1b33 !important;
	font-size:1em;
}
.input-text.qty{
	border:1px solid #da1a32;
	text-align:center;
	color:#4d565d;
}
#cart_function_area{ 
	background:#eff0f1;
	height: 33px;
    position: relative;
    margin: 0px 15px;
}
#cart_function_area .button{ 
	position:absolute;
	/*background:#747f8b;*/
	border:none;
	color:#fff;
	height:29px;
	top:0px;
	border-radius:0px;

	background:none;

	height:33px;
	color:#FFFFFF;
	display:inline-block;
	content:"";
	
}
#cart_function_area .button span{
	width:100%;
	height:100%;
	position: relative;
	line-height: 20px;
    z-index: 1;
    text-align: center;
    font-size: 15px;
	padding:0px;
}
#cart_function_area .btn-continue { left:-9px; }
#cart_function_area .btn-update { right:-5px; }
#cart_function_area .button:before{
    transform: skew(20deg);
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    background-color: #747f8b;
	
	border:2px solid #747f8b;
	position:absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
	width:100%;
    height: 29px;
	content:"";
}
#cart_function_area .button:hover:before{background-color: #a5abb2;}

.cart .totals {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  padding: 0;
}
#shopping-cart-totals-table{
}
#shopping-cart-totals-table tr,#shopping-cart-totals-table tr td{
	border-top:1px solid #c9ccce;
}



.checkout-types .btn-proceed-checkout.button{ 
	position: relative;
	/*background:#747f8b;*/
	border:none;
	color:#fff;
	height:43px;
	border-radius:0px;
	background:none;
	color:#FFFFFF;
	display:inline-block;
    margin-right: 80px;
	text-shadow:2px 2px 1px #393939;
	
}
.checkout-types .btn-proceed-checkout.button span{
	width:100%;
	height:100%;
	position: relative;
	line-height: 29px;
    z-index: 1;
    text-align: center;
    font-size: 18px;
	font-weight:bold;
	padding:0px;
}
.checkout-types .btn-proceed-checkout.button:before{
    transform: skew(20deg);
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    background-color: #747f8b;
	
	border:2px solid #747f8b;
	position:absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
	width:100%;
    height: 39px;
	content:"";
}
.checkout-types .btn-proceed-checkout.button:hover:before{background-color: #a5abb2;}

/*--CHECKOUT--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/* for the moment REMEBER to remove */
.opc-wrapper-opc .buttons-set .button span,
.opc-wrapper-opc .discount-block .buttons-set .button span {
	background:transparent none;
  border-radius: 3px;
  height: 45px;
  line-height: 15px !important;
  padding: 0 !important;
  width: 100%;
}
.opc-wrapper-opc .buttons-set .button span span,
.opc-wrapper-opc .discount-block .buttons-set .button span span {
	background:transparent none;
  color: #494949 !important;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0 1px 1px #02484f;
  text-transform: uppercase;
}

.shipping-method-block{position:absolute !important; top:-9999em  !important; left:-9999em  !important;}
* .opc-wrapper-opc .payment-block { margin-top:0px !important;}

#check_out_products {
  background-color: #3f6b72;
  color: #e5e5e5;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
}

#check_out_products.fixed {z-index: 9;position: fixed;bottom: 5px;}

#check_out_products:hover{background-color:#00a5bd;}
#mass_products{position:relative;}


/*--homepage-banners--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
#banner_area{
	position: relative;
    width: calc( 100% - 120px );
    margin: 50px;
	margin-bottom:25px;
    border: 10px solid #fff;
}
#homepage_banners{
	z-index:1;
}
#homepage_banners a,#homepage_banners a img{
	width:100%;
}
#banner-pager{
	position:absolute;
	right:0px;
	bottom:0px;
	z-index:2;
}
#banner-pager:before{
	display:block;
	width: 0; 
	height: 0; 
	border-bottom: 115px solid #fff; 
	border-left: 115px solid transparent; 	
	position:absolute;
	right:0px;
	bottom:0px;
	z-index:1;
	content:"";
}
#banner-pager:after{
	display:block;
	width: 0; 
	height: 0; 
	border-bottom: 100px solid #da1a32; 
	border-left: 100px solid transparent; 	
	position:absolute;
	right:0px;
	bottom:0px;
	z-index:1;
	content:"";
}
#banner-pager span{
    z-index: 2;
    position: relative;
    font-size: 41px;
    padding-top: 24px;
	color:#fff;
	cursor:pointer;
}
#banner-pager span:hover,#banner-pager span.cycle-pager-active{
	color:#38424a;
}

/*--home_page_cats--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
#home_page_cats{
	margin: 0px 50px;
	margin-bottom:25px;
}
#home_page_cats li{
	padding: 0px;
	border-left: transparent 15px solid;
}
#home_page_cats li a{
	box-sizing:border-box;
	border:10px solid #fff;
	padding: 0px;
	display: inline-block;
	width:100%;
}
#home_page_cats li:first-of-type {
	border-left: transparent 0px solid;
}
#home_page_cats li img{
	width:100%;
	
}

/*--CATEGORIES--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.category-title{
    margin-top: 25px;
    padding: 0px;
    border-bottom: 1px solid #38424a;
}
.category-title h1{
	font-size:15px;
	color:#4a535a;
}

/*--PRODUCT_LISTS--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.products-grid li.item{
	position:relative;
	margin-right:25px;
	margin-top:25px;
}
.display-onhover{
	display: inline-block;
    float: right;
	position:relative;
}
.display-onhover [class*="-box"]{
	display:none;
	position:absolute;
}
.display-onhover .ratings:before{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);	
	content:"\f005";
	color:#da1a33;
}
.products-grid li.item .product-image-wrapper img{
	margin: 0px;
}
.products-grid li.item:hover .product-image-wrapper{
	background-color:#da1a32 !important;
}
.products-grid li.item .sticker-wrapper{
	position:absolute;
}
.products-grid li.item .sticker-wrapper:before{
	position:absolute;
	top:0px;
	left:0px;
	z-index: 0;
	width: 0; 
	height: 0; 
	content:"";
}
.products-grid li.item .sticker-wrapper .sticker{
	width: 100%;
    height: 100%;
    position: absolute;
    top: 9px;
    left: -3px;
    z-index: 1;
    text-align: center;
    font-size: 10px;
    padding: 0px;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    color: #fff;
}
.products-grid li.item .sticker-wrapper.top-left{
	top:0px;
	left:0px;
}
.products-grid li.item .sticker-wrapper.top-right{
	top:0px;
	right:30px;
}
.products-grid li.item .sticker-wrapper.top-left:before{
	border-top: 30px solid #ff361e; 
	border-right: 30px solid transparent;
}
.products-grid li.item .sticker-wrapper.top-right:before{
	border-top: 30px solid #ff361e; 
	border-left: 30px solid transparent;
}
.products-grid li.item .sticker-wrapper.top-right .sticker{
	top: -4px;
    left: 20px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.products-grid .product-image{
	margin:0px;
}
.price_and_action{
	padding: 0px 5px;
    background-color: #e2e2e2;
}
.products-grid .product-name{
	/*border-bottom: 1px solid;*/
	position:absolute;
	top:206px;
	left:0px;
}
.products-grid .product-name a{
	text-decoration:none;
	font-size:18px;
	color:#38424a;
    line-height: 15px;
}
.products-grid .price-box {
    margin: 5px 0;
    display: inline-block;
    float: left;
}
.products-grid .price-box .regular-price .price{
	color:#da1a32;
}

.catalog-category-view .button.btn-cart{
	background: none;
    border: none;
	float: right;
}
.catalog-category-view .button.btn-cart span{
	display: none;
}
.catalog-category-view .button.btn-cart:before{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 20px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);	
	content:"\f07a";
	color:#da1a33;
}

.itemgrid-adaptive.itemgrid-4col .item:nth-child(6n+1),
.itemgrid-adaptive.itemgrid-4col .item:nth-child(5n+1),
.itemgrid-adaptive.itemgrid-4col .item:nth-child(4n+1),
.itemgrid-adaptive.itemgrid-4col .item:nth-child(3n+1){
	clear:none !important;
}
/*--PRODUCT_VIEW--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.product-view .box-tags .form-add button.button span{
	background:none;
}
.add-to-box .add-to-cart,.product-options,.product-options-bottom{
	background:none;
	border:none;
}

.swatch-link.has-image img, .swatch-link, .swatch-label{
	border-radius: 100px;
}

#configurable_swatch_size .swatch-link, #configurable_swatch_size .swatch-label, #configurable_swatch_size .swatch-link.has-image img{
	border-radius: 0px;
}
#configurable_swatch_size .swatch-link{
	border:none;
}
#configurable_swatch_size .swatch-label{
	background:none;
	border:#da1a32 1px solid;
	padding: 0px 5px;
}
#configurable_swatch_size .hover .swatch-label, #configurable_swatch_size .selected .swatch-label{
	background:#da1a32;
	color:#fff;
}

#configurable_swatch_size  .not-available .swatch-label{
	border:#989898 1px dotted;
}
#configurable_swatch_size .not-available .swatch-label, #configurable_swatch_size .not-available .swatch-label{
	background:#F1F1F1;
	color:#BDBDBD;
	cursor:default;
}

#configurable_swatch_size .not-available * {
	cursor:default;
}
.swatch-select{ position:absolute; top:-999em; }

#lower_box .price-box{ display:none; }


.product-view #product-addtocart-button{
	display: block;
	float: none;
	clear: both;
	background:#da1a32;
	max-width:250px;
	width:100%;
	height: 38px;
	margin:5px 0px;
}
.product-view #product-addtocart-button:hover{
	opacity:.8;
}
.product-view #product-addtocart-button:disabled{
	background:#A6A6A6;
}
.product-view #product-addtocart-button:disabled:hover{
	opacity:1;
}
.product-view #product-addtocart-button span{
	height: 38px;
    font-size: 20px;
	line-height:28px;
}
.product-view #product-addtocart-button:before{
    content:none;
}
.sharing-links{ display: none;}
.catalog-product-view .add-to-links{float:none; list-style:none;}
.product-view .product-shop .add-to-links{ text-align: left; }
.catalog-product-view .add-to-links li{ background:#A6A6A6; padding: 5px 10px; margin-left: 0px !important; margin-right: 12px; }

/*--CAR_VIEW--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.cart .discount,.cart .shipping{ position:relative; background: #eff0f1; }
.cart .discount h2, .cart .shipping h2{ width: auto;}
.cart .discount h2:before,
.cart .shipping h2:before
{	
	position:absolute;
	top:0px;
	left:0px;
	z-index: 0;
	width: 0; 
	height: 0; 
	content:"";
	border-top: 10em solid #1F1F1F;
    border-right: 10em solid transparent;
}
.cart .discount h2 span,
.cart .shipping h2 span{
	top: -7px;
    left: 7px;
    position: relative;
    z-index: 2;
    width: 2em;
    display: inline-block;
	color:#fff;
	font-weight:bold;
}
.cart .discount .discount-form, .cart .shipping .shipping-form {
	margin-left: 122px;
    display: flex;
    flex-direction: column;
}
.cart .discount .buttons-set button.button span,
.cart .shipping .buttons-set button.button span{
    color: #E8E8E8 !important;
    text-transform: uppercase;
    line-height: 22px;
}
.cart .discount p,
.cart .shipping p {
    margin: 0 0 3px;
}

/*--CHECKOUT_VIEW--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.opc-wrapper-opc a span,.opc-wrapper-opc a {
    color: #fff !important;
}
.opc-wrapper-opc{
overflow: visible !important;	
}
[class*="-block"] {
    background-color: #eff0f1;
}
 .opc-wrapper-opc [class*="-block"] h3 {
    background-color: #da1a32;
    /* margin: 5px; */
    padding: 20px 10px 10px 10px;
    border-bottom: 1px solid #fff !important;
    color: #fff !important;
}
.opc-wrapper-opc form {
	margin-bottom:0;
    padding:0;
}
.opc-wrapper-opc .login-trigger {
	position: relative;
}
.opc-wrapper-opc .login-trigger:before
{
    transform: skew(20deg);
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    background-color: #747f8b;
	
	border:2px solid #747f8b;
	position:absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
	width:100%;
    height: 40px;
	content:"";
}
.opc-wrapper-opc .login-trigger span
{
	width:100%;
	height:100%;
	position: relative;
	line-height: 22px;
    z-index: 1;
    text-align: center;
    font-size: 15px;
	font-weight:bold;
	padding:0px;
	color:#fff;
}

.opc-wrapper-opc .login-trigger:hover span{cursor:pointer;
 color:#fff !important; background:#39b9c6 !important; }
 
 #main .opc-wrapper-opc .payment-block dt label{
	 font-size: 100%;
 	width: calc(100% - 40px) !important;
    padding: 0 !important;
    padding-left: 40px !important;
 }
.opc-wrapper-opc .payment-block dt:before {
   display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 20px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);	
	
	color:#39424b;
	z-index:1;

	position: absolute;
    top: 13px;
    left: 15px;
	content: "\f096";
}
 .opc-wrapper-opc .payment-block dt:hover:before {
	content: "\f046"; 
 }
  .opc-wrapper-opc .payment-block dt.active:before {
	content: "\f14a"; 
 }
 .button.btn-checkout.opc-btn-checkout span{color:#fff;}