/* CSS Document */
body{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-style:normal;
	font-size:100%;
	line-height:1.6;

	background:#fff !important;
	/*
  background-image   : url(/media/store-media/connections.store.wsu.edu/skin/background-strip.png),
                       url(/media/store-media/connections.store.wsu.edu/skin/background.jpg) !important;

  background-repeat  : no-repeat,
                       repeat-x !important;

  background-position: 100% top,
                       center top !important;
					   */
}

/*--Spine-Overrides--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
#spine.darker .spine-actions button, #spine.darker .spine-footer small a, #spine.darker .spine-social-channels a {
    color: #BBBEC0;
}
#spine.darker .spine-global-links a, #spine.darker .spine-offsitenav a {
    color: #8D989E;
    font-weight: 600;
}
body #wsu-signature {
    background-image: url(/media/store-media/connections.store.wsu.edu/skin/logo-stack.svg)!important;
    background-size: 113px auto;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
	 body #wsu-signature {
		 background-size: 149px auto;
	 }
}
.lt-ie10 #wsu-signature {
	 background-size: 149px auto;
 }
@media screen and (max-width: 791px){
	.lt-ie10 .fluid #wsu-signature {
		background-size: auto 30px;
	}
}
#spine-navigation .spine-sitenav ul {
	font-size:10pt;
	font-weight:bold;
}
/*--Form-parts--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
main .button:not(.bare), main .spine-button:not(.bare), main button:not(.bare), main input[type=submit]:not(.bare), main input[type=reset]:not(.bare), main input[type=button]:not(.bare) {
    position: relative;
    border: none;
    color: #676767;
    height: 30px;
    border-radius: 6px;
    background: #E4E4E4;
    display: inline-block;
    /* margin-right: 80px; */
    text-shadow: 1px 1px 1px rgba(57, 57, 57, 0.42);
    max-width: 250px;
    height: 38px;
    margin: 3px 0px 7px 0px;
    border: 2px #8E8E8E solid;
    line-height: 38px;
    padding: 0px 15px;
    font-weight: 600;
	
}

main .button:not(.bare):hover, main .spine-button:not(.bare):hover, main button:not(.bare):hover, main input[type=submit]:not(.bare):hover, main input[type=reset]:not(.bare):hover, main input[type=button]:not(.bare):hover{background-color: #a5abb2;}

main .button:not(.bare) span, main .spine-button:not(.bare) span, main button:not(.bare) span, main input[type=submit]:not(.bare) span, main input[type=reset]:not(.bare) span, main input[type=button]:not(.bare) span
{
	width:100%;
	height:100%;
	position: relative;
	line-height: 22px;
    z-index: 1;
    text-align: center;
    font-size: 15px;
	font-weight:bold;
	padding:0px;
}
/*main .button:not(.bare):before, main .spine-button:not(.bare):before, main button:not(.bare):before, main input[type=submit]:not(.bare):before, main input[type=reset]:not(.bare):before, main input[type=button]:not(.bare):before
{
    transform: skew(20deg);
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    background-color: #747f8b;
	
	border:2px solid #747f8b;
	position:absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
	width:100%;
    height: 30px;
	content:"";
}

main .button:not(.bare):hover:before, main .spine-button:not(.bare):hover:before, main button:not(.bare):hover:before, main input[type=submit]:not(.bare):hover:before, main input[type=reset]:not(.bare):hover:before, main input[type=button]:not(.bare):hover:before {background-color: #a5abb2;}
*/
input.input-text, select, textarea{
	border: 1px solid #A7A7A7;
	background-color:#F7F7F7 !important;
}

.block button.button span{
  background-image:none;
}

/*--jquery_ui_overides--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.ui-dialog.ui-widget {
    z-index: 999999999 !important;
}
.ui-front {
    z-index: 999999!important;
}
/*--messages--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
ul.messages li[class$=-msg]:before{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 20px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);	
	
	color:#39424b;
	z-index:1;
	
	float: left;
    margin-right: 7px;
    margin-top: -3px;

}
.error-msg{
    border-color: #981E32;
    background-color: #da6674;
    color: #ffdfe3;
}
.error-msg:before{
	content: "\f06a";
}
.warn-msg,.notice-msg{
    border-color: #f47900;
    background-color: #fed697;
    color: #f48e2b;
}
.warn-msg:before,.notice-msg:before{
	content:"\f071";
}
.success-msg{
    border-color: #1d3c08;
    background-color: #8ebe71;
    color: #1e660d;
}
.success-msg:before{
	content: "\f05d";
}

/*--Content--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/


main{
	background-color:#fff;
	position: relative;
}
div#main {
    margin-bottom: 35px;
}
#main .std hr {
	height:3px;
}

#siteID{
	-js-display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   position: absolute;
    right: 0px;
    top: 0px;
	z-index: 10;
	height:auto;
	width:auto;
}
#identity{    align-self: flex-end;
    /*min-height: 60px;*/
    width: auto;
    flex-grow: 2;}
#identity h2{
	display:none;
	text-indent: -999em;
}
#identity h1{
    text-indent: -999em;
    margin: 0px;
    height: 0px;
    padding: 0px;
}

.form-list .name-middlename {
	width:150px;
}
.form-list .name-middlename input.input-text {
	width:100px;
}


.quick-access .links{
	padding:0px;
}
.quick-access .links,
.quick-access .links li{
	display:inline-block;
	position: relative;
}
.quick-access .links
li{
	padding:0 0px 0 1px;
	padding-left:10px;
}
.quick-access .links li.first{
	padding-left:10px !important;
}
/*%--global--%*/
.quick-access{
	background: #919191;
    position: relative;
    padding: 0;
    margin: 0;
    text-align: left;
    min-height: 37px;
	width: auto;
	align-self:flex-start;
}

.quick-access .links a{
	background:none;
    /*position: relative;*/
	position: static;
	height:32px;
	color:#FFFFFF;
	/*display:inline-block;*/
	line-height: 37px;
}
.quick-access .links a{
	padding-left: 8px;
}
.quick-access .links a span{
	width:100%;
	position: relative;
	top: calc( 50% - 8px );
    left: 0;
    z-index: 1;
	height:32px;
    text-align: center;
    font-size: 16px;
	padding:0px 5px;
	font-weight:100;
}
.quick-access .links a span:before{
	font-size:24px;
	    top: -1px;
}

.quick-access .links a[href*="customer/account/create"] span:before{
    content: "\f044";
}


.quick-access .links  li{
    margin-right: 4px;
}
.quick-access .links a span{
	padding-left: 28px;
}

.quick-access .links a{
	padding:0 7px 0 0;
}
.quick-access .links li.last a{padding:0;background:none}





.page-title{
	margin-top: 25px;
    padding: 0px;
    border-bottom: 1px solid #38424a;
}
.page-title h1{
	font-size:15px;
	color:#4a535a;
}

.breadcrumbs {
	margin-top: 9px;
}
.catalog-product-view .breadcrumbs {
	margin-top: 20px;
}
.breadcrumbs .parent_links{
	font-size:18px;font-weight:100
}
.breadcrumbs span,
span.last{
	font-size:24px;font-weight:600	
}


/*--FOOTER--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
main footer{
	/*padding:0px !important;
	position:absolute;
	bottom:0px;
	width:100%;
	height:36px;
	background:#d5151f;*/
	
}
.footer-area{
	display:flex;
	flex-flow:row wrap;
}
.footer-cell{flex-grow: 1;}
.footer-cell.two{flex-grow: 2;}
.licensed-link{
	text-indent:-999em;
	height: 0px;
	padding-top: 31.085%;
	width: 100%;
	display: inline-block;
	background:url('/media/store-media/connections.store.wsu.edu/skin/clc-logo.svg') 0% 0% / contain no-repeat rgba(255, 255, 255, 0);
}
.alumni{
	max-width: 40%;
	margin-left: 15px;
}
.alumni a{}
.alumni .message{
    line-height: 1em;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;
    float: left;
    margin-top: .6em;
}
.alumni img{
	display: inline-block;
    vertical-align: bottom;
    width: 27%;
    /* font-size: 0.7em; */
    float: left;
}
.alumni .disclaimer{

    display: inline-block;
    font-size: 0.5em;
    max-width: 46%;
    float: left;
    margin-top: 1.6em;
	    line-height: 0.9em;	
}
#site-global-footer{
	background: url(/media/store-media/connections.store.wsu.edu/skin/footer-bk.jpg);
}
#site-global-footer ul{
	padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -js-display: flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
#site-global-footer ul li{
  width: 20%;
  height: 36px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}
#site-global-footer ul li a{
	color:#fff;
    width: 100%;
    display: inline-block;
    height: 36px;
    line-height: 36px;
}
#site-global-footer ul li a:hover{
	background:url(/media/store-media/connections.store.wsu.edu/skin/spine_background.png) repeat center top !important;
}



/* content areas */
.content_area{
	z-index:5;
}
.cat-block-plus{
	background-color:#fff !important;
}
.cat-block-plus .category-topper{
    z-index: 6;
    position: absolute;
    top: 0px;
    left: 0px;
	max-width: 100%;
}
.category-products{
	margin-top: 35px;
}
.cat-block-plus .category-products{
    z-index: 8;
    position: relative;
    margin-top: 43.60269em;
}

.cat-block-plus .note-msg{
	z-index: 8;
    position: relative;
    margin-top: 24.60269em;
    font-size: 2.4em !important;
}
	
	.blockHeader {font-size: 1.5em;font-weight: bold;}
	.blockHeader i{font-style:normal;}
	.column.cart_action_area {text-align: right !important;}
	.regular-price .price {color: #396f00;font-size: 1.5em;font-weight: bold;}
	.products-list .price-box {float:none;}
	.mass_item.active_item{background-color:#e3dfcd !important;border-color:#ada400 !important}
	.product-image-wrapper img{ margin-top: 20px;}
	/*.product-image-wrapper ul{ display:none;}  Not sure where this came from look to git history for what*/
	input.full { width:100%}
	
	/* Guest blocks */
	.attendence_block{display:none; clear:both}
	.attendence_block{border-top:0.1em solid #393215;padding: 1em 0;}
	.active_item .attendence_block{display:block;}
	
	.guest_block label {display: block;}
	
	/* buttons and links */
	.remove_guest {float: right;font-size: 0.55em;}
	.copy_guest {display:none !important;}
	.copy_guest.can_copy {display:inline-block !important;font-size: 0.75em;padding: 0.1em 0.5em !important;}
	
	.validation_overlay{
		display:none;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0,0,0,0.5);
		z-index: 10;}
	.validation_overlay.active{display:block;}
	.access_form {
	  background-color: #ffb81c;
	  border-radius: 5px;
	  left: 50%;
	  margin-left: -17.5%;
	  margin-top: -6.25%;
	  min-height: 55px;
	  padding: 0 15px;
	  position: absolute;
	  text-align: center;
	  top: 27%;
	  width: 30%;
	  z-index: 11;
	}

/*--CART--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.data-table thead, .data-table thead tr{
	background:#981E32;
	color: #fff;
	height:31px;
	line-height:31px;
}
.data-table tbody{
	border-left:none;
	border-right:none;
}
.data-table tbody tr,.data-table tbody td{
	border-left:none;
	border-right:none;
	border-bottom:1px solid #790000;	
}
.data-table tbody tr.last,.data-table tbody tr.last td{
	border-bottom:none;	
}
.data-table tbody td{
	color:#4d565d !important;
	font-weight:bold;
}
.cart-table h2.product-name{
	color:#da1b33 !important;
	font-size:1em;
}
.input-text.qty{
	border:1px solid #981E32;
	text-align:center;
	color:#4d565d;
}
#cart_function_area{ 
	background:#eff0f1;
	height: 33px;
    position: relative;
    margin: 0px 15px;
}
#cart_function_area .button{ 
	position:absolute;
	
	border:none;
	top:0px;
	border-radius:0px;

	/*background:none;*/
	background:#747f8b;
	height:33px;
	color:#FFFFFF;
	display:inline-block;
	content:"";
	
}
#cart_function_area .button:hover{ background-color: #a5abb2; }
#cart_function_area .button span{
	width:100%;
	height:100%;
	position: relative;
	line-height: 20px;
    z-index: 1;
    text-align: center;
    font-size: 15px;
	padding:0px;
}
#cart_function_area .btn-continue { left:-9px; }
#cart_function_area .btn-update { right:-5px; }
/*
#cart_function_area .button:before{
    transform: skew(20deg);
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    background-color: #747f8b;
	
	border:2px solid #747f8b;
	position:absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
	width:100%;
    height: 29px;
	content:"";
}
#cart_function_area .button:hover:before{background-color: #a5abb2;}
*/

.cart .totals {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  padding: 0;
}
#shopping-cart-totals-table{
}
#shopping-cart-totals-table tr,#shopping-cart-totals-table tr td{
	border-top:1px solid #c9ccce;
}



.checkout-types .btn-proceed-checkout.button{ 
position: relative;
    /* border: none; */
    height: 43px;
    line-height: 43px;
    /* border-radius: 0px; */
    /* background: none; */
    background-color: #747f8b;
    color: #FFFFFF;
    display: inline-block;
    margin-right: 80px;
    text-shadow: 2px 2px 1px #393939;
}
.checkout-types .btn-proceed-checkout.button:hover{ 
	background-color: #a5abb2;
}
.checkout-types .btn-proceed-checkout.button span{
	width:100%;
	height:100%;
	position: relative;
	line-height: 29px;
    z-index: 1;
    text-align: center;
    font-size: 18px;
	font-weight:bold;
	padding:0px;
}
/*.checkout-types .btn-proceed-checkout.button:before{
    transform: skew(20deg);
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    background-color: #747f8b;
	
	border:2px solid #747f8b;
	position:absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
	width:100%;
    height: 39px;
	content:"";
}
.checkout-types .btn-proceed-checkout.button:hover:before{background-color: #a5abb2;}*/

/*--CHECKOUT--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/* for the moment REMEBER to remove */
.opc-wrapper-opc .buttons-set .button span,
.opc-wrapper-opc .discount-block .buttons-set .button span {
	background:transparent none;
  border-radius: 3px;
  height: 45px;
  line-height: 15px !important;
  padding: 0 !important;
  width: 100%;
}

.cart .discount .buttons-set button.button, .cart .shipping .buttons-set button.button{
	margin-left: 5px;
}

/*.cart .discount .buttons-set button.button span, .cart .shipping .buttons-set button.button span span {
	background:transparent none;
  color: #FFFFFF !important;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 2px 2px 1px #393939;
}*/
.opc-wrapper-opc .buttons-set .button span span,
.opc-wrapper-opc .discount-block .buttons-set .button span span {
  background:transparent none;
  color: #FFFFFF !important;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 2px 2px 1px #393939
  /*text-transform: uppercase;*/
}

.shipping-method-block{position:absolute !important; top:-9999em  !important; left:-9999em  !important;}
* .opc-wrapper-opc .payment-block { margin-top:0px !important;}

#check_out_products {
  background-color: #3f6b72;
  color: #e5e5e5;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
}

#check_out_products.fixed {z-index: 9;position: fixed;bottom: 5px;}

#check_out_products:hover{background-color:#00a5bd;}
#mass_products{position:relative;}
#main .opc-wrapper-opc .payment-block dt label{
    color: #ffffff;
    cursor: pointer;
    display: table-cell;
    font-size: 15px;
    font-weight: bold;
    min-height: 47px;
    line-height: 21px;
    max-width: 100%;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    vertical-align: middle;
}

/*--homepage-banners--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
#banner_area{
	position: relative;
    width: calc( 100% - 120px );
    margin: 50px;
	margin-bottom:25px;
    border: 10px solid #fff;
}
#homepage_banners{
	z-index:1;
}
#homepage_banners a,#homepage_banners a img{
	width:100%;
	vertical-align: bottom;
}
#banner-pager{
	position:absolute;
	right:0px;
	bottom:0px;
	z-index:2;
}
#banner-pager:before{
	display:block;
	width: 0; 
	height: 0; 
	border-bottom: 115px solid #fff; 
	border-left: 115px solid transparent; 	
	position:absolute;
	right:0px;
	bottom:0px;
	z-index:1;
	content:"";
}
#banner-pager:after{
	display:block;
	width: 0; 
	height: 0; 
	border-bottom: 100px solid #981E32; 
	border-left: 100px solid transparent; 	
	position:absolute;
	right:0px;
	bottom:0px;
	z-index:1;
	content:"";
}
#banner-pager span{
    z-index: 2;
    position: relative;
    font-size: 41px;
    padding-top: 24px;
	color:#fff;
	cursor:pointer;
}
#banner-pager span:hover,#banner-pager span.cycle-pager-active{
	color:#38424a;
}

/*--home_page_cats--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
#home_page_cats{
	margin: 0px 50px;
	margin-bottom:25px;
}
#home_page_cats li{
	padding: 0px;
	border-left: transparent 15px solid;
}
#home_page_cats li a{
	box-sizing:border-box;
	border:10px solid #fff;
	padding: 0px;
	display: inline-block;
	width:100%;
}
#home_page_cats li:first-of-type {
	border-left: transparent 0px solid;
}
#home_page_cats li img{
	width:100%;
	
}

/*--CATEGORIES--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.category-title{
    margin-top: 0px;
    padding: 0px;
    border-bottom: 1px solid #38424a;
}
.category-title h1{
    font-size: 22px;
    color: #5a5a5a;
    font-weight: 700;
	margin: 0;
}

/*--PRODUCT_LISTS--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/* mass product form */
	#mass_products{padding: 0;}
/* Product list blocks */
.cat_list_header_top,.cat_list_header_bottom{
	-js-display: flex;
	 display: flex;
	 flex-flow: row wrap;
}


.filtering_result_labels{
	flex-grow:2;
	line-height: 44px;
}


.breadcrumbs{
	flex-grow:2;
	color: #000;
}
.breadcrumbs a {
	color: #232323;	
}
.sort_by{}

/* filtering ("layered nav") */
.filtering_area{
	position:relative;
	
}
.filtering_button{
    display: inline-block;
	position:relative;
    font-size: 22px;
    font-weight: 100;
    font-style: italic;
    border: 1px #494949 solid;
    padding: 0px 40px 4px 7px;
    line-height: 30px;
    background: #eee;
    box-shadow: inset 1px 0px 24px -5px rgba(0,0,0,0.20);
	cursor:pointer;
}
.filtering_button:before{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);	
    content: "\f0fe";
    color: #5a5a5a;
    position: absolute;
    top: 0px;
    right: 6px;
    line-height: 34px;
    font-size: 18px;
}
.filtering_button:hover, .filtering_button.open{
    background: #5a5a5a;
	color:#ececec;
}
.filtering_button:hover:before, .filtering_button.open:before{
	color:#ececec;
}
.filtering_button.open:before{
	    content: "\f146";
}
.filtering_block{
	display:none;
}
.filtering_block.open {
    display: block;
    max-width: 330px;
    position: absolute;
    top: 44px;
    right: 0px;
    z-index: 999999;
    width: 330px;
    background: #f9f9f9;
    border:1px #202020 solid;
    padding:10px 11px 34px 17px;
}



#narrow-by-list a {
    font-size: 18px;
    line-height: 22px;
}



/* filtering ("layered nav") */
.sorting_area{
	position:relative;
	margin-right:15px;
}
.sorting_button{
    display: inline-block;
	position:relative;
    font-size: 22px;
    font-weight: 100;
    font-style: italic;
    border: 1px #494949 solid;
    padding: 0px 40px 4px 7px;
    line-height: 30px;
    background: #eee;
    box-shadow: inset 1px 0px 24px -5px rgba(0,0,0,0.20);
	cursor:pointer;
}
.sorting_button:before{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);	
    content: "\f102";
    color: #5a5a5a;
    position: absolute;
    top: 0px;
    right: 6px;
    line-height: 34px;
    font-size: 18px;
}
.sorting_button:hover, .sorting_button.open{
    background: #5a5a5a;
	color:#ececec;
}
.sorting_button:hover:before, .sorting_button.open:before{
	color:#ececec;
}
.sorting_button.desend:before{
	    content: "\f103";
}
.sorting_block{
	display:none;
}
.sorting_block.open {
    display: block;
    max-width: 174px;
    position: absolute;
    top: 44px;
    right: 0px;
    z-index: 999999;
    width: 330px;
    background: #f9f9f9;
    border:1px #202020 solid;
    padding:10px 11px 34px 17px;
}

.sorting_block a{
	display:block;
	font-size: 18px;
}















#narrow-by-list dt{
	border-bottom: 1px #202020 solid;
	position: relative;
	cursor: pointer;
	font-size: 22px;
	font-weight: 800;
	font-style: italic;
	line-height: 27px;
	margin-bottom: 15px;
}
#narrow-by-list dt.open{
	margin-bottom: 0px;
	border-bottom: 1px #A92023 solid;
}
#narrow-by-list dt:before{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);	
    content: "\f055";
    color: #5a5a5a;
    position: absolute;
    top: 0px;
    right: 6px;
    line-height: 31px;
    font-size: 22px;
}
#narrow-by-list dt.open:before{
	content:"\f056";
}
#narrow-by-list dd{
	display:none;
}
#narrow-by-list dd.open{
	margin-bottom: 15px;
	display: block;
}
.filters_applied{
	font-size:10px;
}

.filtering_block .actions a{
	border: 1px solid #525252;
    padding: 3px 3px 4px 5px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 15px;
	display: block;
}
.filtering_block .actions a:hover{color: #121212; background:rgba(128,128,128,1.00)}
.filtering_block .currently .block-subtitle{
	font-size: 20px;
    font-weight: 900;
    padding: 0px;
}

.filtering_block .currently li {
   border-bottom:1px solid
}

.filtering_block .currently .btn-remove{
    display: inline-block;
    float: right;
    margin: 0px 0px;
    border: 1px solid #525252;
    padding: 3px 3px 4px 5px;
}
.filtering_block .currently .label{
	font-weight:600;
}

.inline-filter span, .inline-filter a:before{
	background: #000;
    color: #fff;
    padding: 2px 6px;
    margin-right: 3px;
}
.inline-filter span{}
.inline-filter a:before{    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: "\f00d";
    padding: 5px 7px;
    line-height: 16px;
}
.inline-filter a:hover:before{ background:rgba(170,170,170,1.00); color:#4D0A0B;}

.designer_hr{
    width: calc( 100% - 2px );
    height: 2px;
    background: #b7b7b7;
    border: 1px #707070 solid;
    margin-top: 2px;	
}





.viewing_selector {
    padding: 5px 10px;
	font-size: 19px;
}

.viewing_selector a {
    padding: 5px;
	line-height:35px;
	color:#181818;
}

.viewing_selector a.active,.viewing_selector a:hover{
	background:#181818;
	font-weight:700;
	color:#ececec;
}
.viewing_selector a:hover{
	background:#2A2A2A;
}

.limiter {
	-js-display: flex;
    display: flex;
}

span.paged_label {
    font-size:10px;
    font-style: italic;
}

span.match_count {
    font-size: 18px;
    font-weight: 600;
    color: #181818;
}

.sorter {
    background: none;
    padding: 0px;
    border: none;
}



	.products-list,
	.products-list li{ list-style:none;}
	.products-list li.item {
	  border: 1px solid rgba(91,91,91,0.63);
	  border-radius: 9px;
	  background:rgba(241,241,241,0.90);
	  padding:15px 11px;
	  margin-bottom:15px;
	  position:relative;
	  margin-left:0px;
	}
	.product-view .product-img-box .more-views li a { float:left; width:63px; height:63px; border:1px solid #ddd; overflow:hidden; }

	.products-list li.item.last {border: 1px solid rgba(91,91,91,0.63);}
	.products-list .product-image{ width:100%; height:auto; max-height:100%;}
	.products-list .product-shop{ margin-left:335px;}
	[name="goingToEvent"] {display: none !important;visibility: hidden;}
	.template{display:none;}
	.products-list h2.product-name {font-size: 1.75em;font-weight: bold;}
	.products-list h2.product-name a{ text-decoration:none; cursor:default;}
ul.products-list ul.add-to-links:after {
    content: "";
	    clear: none;
}


/*.products-grid{
	-js-display: flex;
    display: flex;
	flex-flow: row wrap;
    justify-content: space-between;
}*/

.products-grid li.item{
    position: relative;
    align-self: flex-start;
    padding: 0;
    max-width: 220px;
	min-width: 175px;
    width: auto;
    float: initial;
	padding: 2px 5px 10px 5px;
}

.display-onhover{
	display: inline-block;
    float: right;
	position:relative;
}
.display-onhover [class*="-box"]{
	display:none;
	position:absolute;
}
.display-onhover .ratings:before{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);	
	content:"\f005";
	color:#981e32;
}
.products-grid li.item .product-image-wrapper{	
	/*width: 172px;*/
	    position: relative;
}
.products-grid li.item .actions {
    position: absolute;
    bottom: 0px;
    right: 0px;
	-js-display: flex;
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
}
.products-grid li.item .product-image-wrapper img{
	margin: 0px;
	vertical-align: bottom;
}
.products-grid li.item:hover .product-image-wrapper{
	background-color:#981E32 !important;
}

.promo_lables{
    position: absolute;
    top: 10px;
    left: -5px;
    display: block;
    width: 107px;
    line-height: 26px;
    text-transform: uppercase;
}

.ratings{
	display:none;
}
.products-grid li.item .sticker-wrapper{
	/*position:absolute;*/
	display: block;
	    margin-bottom: 5px;
}

.products-grid li.item .sticker-wrapper .sticker{
	width: 100%;
    height: 100%;
    /*position: absolute;*/
	display:block;
    /*top: 9px;
    left: -3px;
    z-index: 1;*/
    text-align: center;
    font-size: 24px;
	font-weight:600;
    padding: 0px;
    color: #fff;
}
.products-grid li.item .sticker-wrapper.top-left{
	background:#941e3d;
}
.products-grid li.item .sticker-wrapper.top-right{
	background:#fea03b;
}



.products-grid .product-image{
	margin:0px;
	border-width:2px;
	border-color:#6f6f6f;
	border-left-width: 7px;
	display: block;
}
.price_and_action{
	/*padding: 0px 5px;
    background-color: #e2e2e2;*/
	/*width:162px;
	clear:both;*/
}
.products-grid .price_visible .product-name{
	/*border-bottom: 1px solid;
	position:absolute;
	top:210px;
	left:0px;*/
	width:calc( 100% - 100px );
}
.products-grid .price_visible .product-name{
	/*border-bottom: 1px solid;
	position:absolute;
	top:210px;
	left:0px;*/
	width:calc( 100% - 100px );
	
}
.products-grid .product-name a{
	text-decoration:none;
	font-size:18px;
	color:#38424a;
    line-height: 15px;
}
.products-grid .price-box {
    margin: 5px 0;
    display: inline-block;
    float: right;
}
.products-grid .price-box p{
	padding:0px;	
}
.products-grid .price-box .regular-price .price{
	color: #5a5a5a;
	font-size: 28px;
    font-weight: 500;
	line-height: 28px;
}
.products-grid .price-box .old-price .price{
    color: #5a5a5a;
    font-size: 15px;
    font-weight: 300;
}
.products-grid .price-box .special-price .price{
	color:#981E32;
	font-size: 28px;
    font-weight: 500;
	line-height: 28px;
}
.catalog-category-view .button.btn-cart{
    background: rgba(226,226,226,.75);
    border-width: 2px 0px 0px 2px;
    float: right;
    border-radius: 0px;
    border-color: #5a5a5a;
    margin-right: 2px;
    margin-bottom: 2px;
}
.catalog-category-view .button.btn-cart span{
	display: none;
}
.catalog-category-view .button.btn-cart:before{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 58px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);	
	content:"\f217";
	color:#5a5a5a;
}
.catalog-category-view .button.btn-cart:hover{
	background: rgba(226,226,226,1);
}
.catalog-category-view .button.btn-cart:hover:before{
	color:#941e3d;
}

.itemgrid-adaptive.itemgrid-4col .item:nth-child(6n+1),
.itemgrid-adaptive.itemgrid-4col .item:nth-child(5n+1),
.itemgrid-adaptive.itemgrid-4col .item:nth-child(4n+1),
.itemgrid-adaptive.itemgrid-4col .item:nth-child(3n+1){
	clear:none !important;
}
.products-list .right-column {
    margin-left: 329px;
}

.swatch-area{
    background: rgba(226,226,226,.75);
    border-width: 2px 0px 0px 2px;
    float: right;
    border-radius: 0px;
    border-color: #5a5a5a;
    margin-bottom: 2px;
    border-style: solid;
	
}
.swatch-button{
	width:40px;
	height:40px;
	display:block;
	position:relative;
	font-size:24px;
	font-weight:600;
	text-align:center;
	line-height:40px;
}
.swatch-area:hover{
    background: rgba(226,226,226,1);
	color:#941e3d;
}
.swatch-button[data-type="color"]{line-height: 35px;}
.swatch-button img{	
	vertical-align: middle !important;
	box-shadow: 0px 2px 3px rgba(73, 73, 73, 0.62);
	width: 30px;
}

.swatch-items{display:none;}

.configurable-swatch-list li{}


.ui-tooltip {
	position: absolute;
	background: #f4f4f4;
	border: 3px solid #2E2E2E;
	max-width: 75px;
	width:auto;
}
.ui-tooltip.size{
	max-width: 45px;
}
.ui-tooltip:after, .ui-tooltip:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.ui-tooltip:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #f4f4f4;
	border-width: 20px;
	margin-left: -20px;
}
.ui-tooltip:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #2E2E2E;
	border-width: 22px;
	margin-left: -22px;
}

span.size-option {
	display:block;
	font-size:18px;
	font-weight:800;
	text-align:center;
	border:1px rgba(255,255,255,0.00) solid;
	max-width: 75px;
	width: 60px;
    line-height: 25px;
	cursor:pointer;
}
span.size-option:hover{
	border:1px #272727 solid;
}

.swatch-item.active{border:1px #272727 solid;}



/* paging and toolbar */
.pages {
    padding: 0px 10px;
}

.pages ol {
    padding: 0px;
    display: inline-block;
	
}


.pages ol li {
    display: inline-block;
	    vertical-align: top;
		line-height:40px;
		font-size: 15px;
    font-weight: 400;
}
.pages li .current, .pages li .last {
    font-size: 24px;
    font-weight: 700;
}

.pages .previous:before{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 40px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);	
	content:"\f104";
	color:#181818;
}
.pages .previous:before.disabled{color:#5a5a5a;}

.pages .next:before{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 40px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);	
	content:"\f105";
	color:#181818;
}
.pages .next:before.disabled{color:#5a5a5a;}

.pages .next_jump, .pages .previous_jump{	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 20px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);	
	line-height: 26px;
	color:#181818;}
.next_jump{
	content:"\f101";	
}
.previous_jump{
	content:"\f100";	
}


/*--PRODUCT_VIEW--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.product-name{
        display: none;
}
.product-view .box-tags .form-add button.button span{
	background:none;
}
.add-to-box .add-to-cart,.product-options,.product-options-bottom{
	background:none;
	border:none;
	padding:5px 20px 5px 0px;
}
.product-options-bottom .regular-price .price {
    color: #9D283B;
    font-size: 4.1em;
    font-weight: 900;
    line-height: 1em;
 }
.product-options-bottom .regular-price .price:before {
    /*content: "only :";*/
    text-transform:uppercase;
    position:absolute;
    top: 10px;
    left: 15px;
    font-weight:400;
    font-size: 0.35em;
    color:#494949;
    text-decoration: underline;
}
.short-description h2 {
    font-size: 1.5em;
}
.swatch-link.has-image img, .swatch-link, .swatch-label{
	border-radius: 100px;
}

#configurable_swatch_size .swatch-link, #configurable_swatch_size .swatch-label, #configurable_swatch_size .swatch-link.has-image img{
	border-radius: 0px;
}
#configurable_swatch_size .swatch-link{
	border:none;
}
#configurable_swatch_size .swatch-label{
	background:none;
	border:#981E32 1px solid;
	padding: 0px 5px;
}
#configurable_swatch_size .hover .swatch-label, #configurable_swatch_size .selected .swatch-label{
	background:#981E32;
	color:#fff;
}

#configurable_swatch_size  .not-available .swatch-label{
	border:#989898 1px dotted;
}
#configurable_swatch_size .not-available .swatch-label, #configurable_swatch_size .not-available .swatch-label{
	background:#F1F1F1;
	color:#BDBDBD;
	cursor:default;
}

#configurable_swatch_size .not-available * {
	cursor:default;
}
.swatch-select{ position:absolute; top:-999em; }

#lower_box .price-box{ display:none; }


.product-view #product-addtocart-button{
	display: block;
	float: none;
	clear: both;
	background:#981E32;
	max-width:250px;
	width:100%;
	height: 38px;
	margin: 40px 0px 10px 0px;
	border: 2px #494949 solid;
	line-height: 38px;
	padding: 0px;
    color:#E4E4E4;
}
.product-view #product-addtocart-button:hover{
	opacity:.8;
}
.product-view #product-addtocart-button:disabled{
	background:#A6A6A6;
}
.product-view #product-addtocart-button:disabled:hover{
	opacity:1;
}
.product-view #product-addtocart-button span{
	height: 38px;
    font-size: 20px;
	line-height:28px;
}
.product-view #product-addtocart-button:before{
    content:none;
}
.sharing-links{ display: none;}
.catalog-product-view .add-to-links{float:none; list-style:none; display:block;}
.product-view .product-shop .add-to-links{ text-align: left; }
.catalog-product-view .add-to-links li{ background:none; padding: 0px; margin-left: 0px !important; margin-right: 12px; }
.catalog-product-view .add-to-links li .button{
    /*background:#E4E4E4;*/
    }
.product-view .product-img-box .product-image-zoom {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    z-index: 9;
    padding-top: 100%;
}

.product-view .product-img-box .product-image-zoom img{
	    width: 100% !important;
		    height: auto !important;
	
}

/*--CART_VIEW--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.cart .shipping {display:none;}
.cart .discount,.cart .shipping{ position:relative; background: #eff0f1; min-height:140px;}
.cart .discount {
	padding-top:30px;
}
.cart .discount h2, .cart .shipping h2{    float: none;
    background: #323232;
    width: auto;
    font: 400 14px/16px "Open Sans","Lucida Sans",sans-serif;
    color: #df280a;
    padding: 0px;}

.cart .discount h2 span,
.cart .shipping h2 span{
    position: relative;
    z-index: 2;
    width: 2em;
    /* display: inline-block; */
    color: #fff;
    font-weight: bold;
    padding: 15px 10px;
    font-size: 13px;
    line-height: 41px;
}
.cart .discount .discount-form, .cart .shipping .shipping-form {
	margin-left: 122px;
	-js-display: flex;
    display: flex;
    flex-direction: column;
}
/*.cart .discount .buttons-set button.button span,
.cart .shipping .buttons-set button.button span{
    color: #FFFFFF !important;
    text-transform: none;
    line-height: 22px;
}*/
.cart .discount p,
.cart .shipping p {
    margin: 0 0 3px;
}

.cart .discount .buttons-set, .cart .shipping .buttons-set{
	padding-top:10px;
}


.cart-collaterals.nested-container {
	-js-display: flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
.cart-collaterals.nested-container  .column {
    flex-grow: 2;
    width: auto !important;
}
.cart .discount .input-box {
    width: 205px;
}
.cart .discount input.input-text {
    width: 205px;
}.cart .discount .discount-form, .cart .shipping .shipping-form {
    margin-left: 9px;
    margin-top: 5px;
}
.cart .totals, .cart .shipping, .cart .coupon {
    position: relative;
    /* background: #eff0f1; */
    min-height: 140px;
    flex-shrink: 1;
    flex-grow: 2;
}

.cart .discount h2:before, .cart .shipping h2:before {
    content: inital;
}

.cart .discount {
    padding-top: 0px;
}
.cell-label qty{display:none;}
.cart .totals table {
	width:100%;	
}
.checkout-cart-index .page-title{
	margin: 0px;
}
.checkout-cart-index .page-title h3{
	padding:0px;
	
}
@media only screen and (max-width: 767px){
	.cart .data-table tr, .cart .data-table td {
		border: none !important;
		background: transparent !important;
		display:table-cell;
		width: 100%;
		text-align: left !important;
	}
	.cart .data-table thead{
		display:table-header-group;
	}
	.cart .data-table tr{
		display:table-row;
	}
}
@media only screen and (max-width: 525px){
	#cart_function_area{
		background: #eff0f1;
		height: auto;
		position: relative;
		margin: 0px 15px;
		-js-display: flex;
		display: flex;
		flex-flow: row wrap;
	}
	#cart_function_area .button {
		position: relative;
		border: none;
		top: 0px;
		border-radius: 0px;
		/* background: none; */
		background: #747f8b;
		height: auto;
		color: #FFFFFF;
		display: inline-block;
		content: "";
		width: 100%;
		line-height: 35px;
		margin-top: 5px;
	}
	#cart_function_area .btn-continue {
		left:0px;
	}
	#cart_function_area .btn-update {
		right:0px;
	}
}
@media only screen and (max-width: 600px){
	.cart .data-table thead{
		display: none;
	}
	.cart .data-table tr, .cart .data-table td {
		display:block;
	}
	.cart .data-table tr{
		position:relative;
	}
	.cell-label qty{display:inline-block;}
	.col-unit-price .cart-price .price:before{ content:"@ "}
	.col-unit-price .cart-price .price:after{ content:" each"}
	.col-unit-price .col-total .price:before{ content:"totaling: "}
	.cart .data-table tr .remove-cart-item{
		position:absolute;
		top:5px;
		right:5px;
	}
	.cart .data-table tr{
		border-bottom:1px solid #B8B8B8;
		text-align: center !important;
	}
	.cart img {
		vertical-align: bottom;
	}
	.cart .column {
		padding: 0px !important;
		margin: 0px;
	}
	td.col-unit-price.a-right {
		font-size: 15px;
		font-weight: 500;
		padding: 0px;
	}
}

/*--LightBox--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

.ui-widget-overlay{
	background: #333333 none repeat scroll 0% 0%;
}

.ui-widget-overlay{
	opacity:0.55;
}

/*--customer-account--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.customer-account #sidebar_area{
    margin-top: 45px;
}
.customer-account .data-table tbody td.last{
	width: 108px;
}
.customer-account .messages {
	margin-top: 35px !important;
}


/*--CHECKOUT_VIEW--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.opc-wrapper-opc a span,.opc-wrapper-opc a {
    /*color: #fff !important;*/
}
.opc-wrapper-opc{
overflow: visible !important;	
}
[class*="-block"] {
    background-color: #eff0f1;
}
 .opc-wrapper-opc [class*="-block"] h3 {
    background-color: #981E32;
    /* margin: 5px; */
    padding: 20px 10px 10px 10px;
    border-bottom: 1px solid #fff !important;
    color: #fff !important;
}
.opc-wrapper-opc form {
	margin-bottom:0;
    padding:0;
}
/*.opc-wrapper-opc .login-trigger {
	position: relative;
    background: #981e32 !important;
    border-radius:5px;
	
}
.opc-wrapper-opc .login-trigger:hover {
    background-color: #747f8b !important;
	
}*/

/*.opc-wrapper-opc .login-trigger:before
{
    transform: skew(20deg);
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    background-color: #747f8b;
	
	border:2px solid #747f8b;
	position:absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
	width:100%;
    height: 40px;
	content:"";
}*/
.opc-wrapper-opc .login-trigger span
{
	width:100%;
	height:100%;
	position: relative;
	line-height: 22px;
    z-index: 1;
    text-align: center;
    font-size: 15px;
	font-weight:bold;
	padding:0px;
	color:#fff;
}

.opc-wrapper-opc .login-trigger:hover span{cursor:pointer;
 /*color:#fff !important; background:#39b9c6 !important;*/ }
 .opc-wrapper-opc #opc-review-block{z-index:999999;}
 #main .opc-wrapper-opc .payment-block dt label{
	 font-size: 100%;
 	width: calc(100% - 40px) !important;
    padding: 0 !important;
    padding-left: 40px !important;
 }
.opc-wrapper-opc .payment-block dt:before {
   display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 20px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);	
	
	color:#39424b;
	z-index:1;

	position: absolute;
    top: 13px;
    left: 15px;
	content: "\f096";
}
 .opc-wrapper-opc .payment-block dt:hover:before {
	content: "\f046"; 
 }
  .opc-wrapper-opc .payment-block dt.active:before {
	content: "\f14a"; 
 }
 .button.btn-checkout.opc-btn-checkout span{color:#fff;}

/*--WISHLIST_VIEW--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
#wishlist-view-form .buttons-set.buttons-set2{
	border-top: 1px solid #494949;
	margin-top: 25px;
	padding-top: 10px;
}
#wishlist-view-form .link-edit.button.button-secondary{
    display: block;
    text-align: center;
    line-height: 33px;
    height: 35px;
    padding: 0px;
}
#wishlist-view-form .link-edit.button.button-secondary:hover{background-color: #39424b;}
#wishlist-view-form .button.btn-cart{
    display: block;
    height: 35px;
    width: 100%;
	background-color: #981e32;
}
#wishlist-view-form .button.btn-cart:hover{background-color: #39424b;}

.std p {
	margin: 0px 0px 10px 0px;
}

.opc-menu .review-menu-block {
	background-color:#bbbbbb;
}

@media only screen and (max-width: 989px){
	#binder #wsu-signature  {
		background-image: url(/media/store-media/connections.store.wsu.edu/skin/logo-hor.svg)!important;
		background-size: auto 45px ;
        background-position: center 2px;
	}
	.breadcrumbs {
		width: 100%;
	}
}
@media only screen and (max-width: 530px){
	#binder #wsu-signature {
		background-position: center 5px;
	}
}


/* note these shouldn't be here, but we are shimming for now to speed it up */
.page-title h1{
	display:none;	
}
